@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


body {
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}

@layer base {
    body {
        @apply bg-slate-100 text-slate-800 dark:bg-slate-300 dark:text-slate-500;
    }
}





